extends layout.pug

block content
  h2 Wishlist Deletion
  p This will instantly <b>irreversibly delete all wishlists!</b> Consider making a backup of the database before using this.
  form(method='POST', action=`${_CC.config.base}admin-settings/clear-wishlists`)
    .field
      .control
        input.button.is-danger(type='submit' value=`Clear all wishlists`)