extends layout.pug

block content
  form(method='POST')
    .field
      label.label Username
      .control.has-icons-left
        input.input(type='text', name='username', placeholder='john')
        span.icon.is-small.is-left
          i.fas.fa-user
    .field
      label.label Password
      .control.has-icons-left
        input.input(type='password', name='password', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value='Log In')
          
