extends layout.pug

block content
  a(href='..') <i class="fas fa-arrow-left"></i> Back to #{req.params.user}'s wishlist
  form.inline(method='POST', action=`/wishlist/${req.params.user}/note/${req.params.id}`)
    .field
      label.label Note
      .control
        textarea.textarea(
          name='note'
        )= req.query.current
    .field.inline
      .control.inline
        input.button.is-primary(type='submit' value='Save Note')
  if req.query.current
    form.inline(method='POST', action=``, style='margin-left: 1em;')
      .field.inline
        .control.inline
          input.button.is-danger(type='submit', value='Delete Note')