extends layout.pug

block content
  a.button(href=`${_CC.config.base}profile`) Back
  form(method='POST')
    .field
      label.label Old Password (Required if changing password)
      .control.has-icons-left
        input.input(type='password', name='oldPassword', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      label.label New Password (Leave blank if not changing password)
      .control.has-icons-left
        input.input(type='password', name='newPassword', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value='Save')
          
