extends layout.pug

block content
  h2 Admin User
  form(action=`${_CC.config.base}setup`, method='POST')
    .field
      label.label Username
      .control.has-icons-left
        input.input(type='text', name='adminUsername', placeholder='john')
        span.icon.is-small.is-left
          i.fas.fa-user
    .field
      label.label Password
      .control.has-icons-left
        input.input(type='password', name='adminPassword', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value='Set up!')