@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css";

.inline {
  display: inline;
}

.linkButton {
  background: none;
  border: none;
}

.fullwidth {
  width: 100%;
  max-width: none;
}

.noLeftMargin {
  margin-left: 0 !important;
}

.overflowWrap {
  overflow-wrap: break-word;
}

ul.noStyle li {
  list-style-type: none;
}