extends layout.pug

block content
  h2= lang('ADMIN_CLEAR_WISHLISTS_HEADER')
  p!= lang('ADMIN_CLEAR_WISHLISTS_DESCRIPTION')
  form(method='POST', action=`${_CC.config.base}admin-settings/clear-wishlists`)
    .field
      .control
        input.button.is-danger(type='submit' value=lang('ADMIN_CLEAR_WISHLISTS_BUTTON'))